<!-- https://cdn.sanity.io/images/6xsct86j/production-v2/a70ee8a9b838200c2af09717d468c8f6b48bb053-3840x2160.png?rect=0,72,3840,2016&w=1200&h=630 -->
<!-- https://img.freepik.com/premium-vector/traffic-jam-automobiles-congestion-city-transportation-downtown-skyscrapers-urban-landscape-with-vehicles-buildings-cars-highway-town-road-minivans-sedans-vector-concept_533410-3287.jpg?w=2000 -->

<div class=" p-0" style="margin-bottom: 90px; height: 96vh;">
    <div id="header-carousel" class="carousel slide" data-ride="carousel" style="height: 96vh;">
        <div class="carousel-inner" style="height: 96vh;">
            <div class=" active" style="height: 96vh;">
                <img style="height: 100vh;" class="w-100"
                    src="https://c.wallhere.com/photos/fe/70/city_cityscape_urban_car_artwork_digital_art_illustration-1688481.jpg!d" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h1 class="text-white text-uppercase mb-md-3">Share a Ride</h1>
                        <h3 class="display-1 text-white mb-md-4">Empowering Commutes, Embracing Connections</h3>
                        <a *ngIf="!isLoggedIn" routerLink="/new-application"
                            class="btn btn-primary py-md-3 px-md-5 mt-2">Sign Up</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a> -->
    </div>
</div>